.ToDoList{
    
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 5px 5px 15px 0px rgba(34, 60, 80, 0.2);
.toDo {
  justify-content: center;
  align-items: center;
  width: 700px;
  background-color: #fff; 
  border: 2px solid #97939356;
}
}